# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar carpetas .idea y cmake-build-debug
.idea/
cmake-build-debug/

# Ignorar archivos con extensión .o
*.o

# Ignorar ejecutable
src/smtpd
