# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar carpetas .idea y cmake-build-debug
.idea/
cmake-build-debug/
.vscode/

# Ignorar archivos con extensión .o
*.o

# Ignorar archivos con extensión .xml e .iml
*.xml
*.iml

# Ignorar ejecutable
client
smtpd

# Ignorar carpeta de mails
maildir/
